<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <p style="text-align:center" class="h3">{{ message }}</p>
  <a class="btn btn-primary" href="/api/get_countries/" role="button">List countries</a>
  <a class="btn btn-primary" href="/api/add_country/" role="button">Add country</a>
</body>
</html>